#banner{
    height: 90vh;
    background-color: rgb(136, 8, 8); 
}
#text-banner{
    font-size: 5rem;
}
#btn-explore{
    transition: all .3s ease-in-out;
}
#btn-explore:hover{
    background-color: orange;
    transform: translate(5px,5px);
    transition: all .3s ease-in-out;
    box-shadow: 3px 3px 8px white;
    color: white;
}
@media screen and (min-width:577px) and (max-width:992px) {
    #banner{
        height: 50vh;
    }
     #text-banner{
    font-size: 35px;
}
    
}
@media screen and (max-width:576px){
    #banner-item{
        height: 50% !important;
    }
     #text-banner{
    font-size: 2rem;
}
    
}

